<mat-toolbar color="primary">
  <h2>Maplicate</h2>
  <button mat-icon-button>
    <mat-icon>book</mat-icon>
  </button>
  <span class="toolbar-filler"></span>
  <button mat-button (click)="createMap()" [disabled]="!dbReady">
    <mat-icon>add</mat-icon> Create
  </button>
  <button mat-button (click)="joinMap()" [disabled]="!dbReady">
    <mat-icon>group</mat-icon> Join
  </button>
  <mat-progress-spinner *ngIf="loading" mode="indeterminate" color="accent" diameter="30">
  </mat-progress-spinner>
</mat-toolbar>
